In [2]:
import pandas as pd

In [3]:
df = pd.read_pickle('../data/processed/forecasts_pmafe.pkl')

- Complexity: number of firms for which analyst i supplied at least one forecast during the first 11 months of year t OR number of two-digit SICs for which analyst i supplied at least one forecast during the first 11 months of year t minus the average number of two-digit SICs followed by an analyst following firm j at time t.

In [4]:
df.head()

,ibes_ticker_pk,official_ticker,cname,estimator,analyst,estimated_eps,fiscal_period_ending,revision_date,announce_date,actual_eps,announce_date_actual,forecast_horizon,afe_analyst_i,afe_analyst_i_avg,afe_mean_firm_j,pmafe
0,0000,TLMR,TALMER BANCORP,2500,72481,0.85,2015-12-31,2015-02-18,2015-02-18,1.02,2016-01-26,316 days,0.17,0.198000,0.166786,0.187152
1,0000,TLMR,TALMER BANCORP,149,119962,0.86,2015-12-31,2015-02-18,2015-02-18,1.02,2016-01-26,316 days,0.16,0.174286,0.166786,0.044968
2,0000,TLMR,TALMER BANCORP,1267,71182,0.89,2015-12-31,2015-04-30,2015-02-18,1.02,2016-01-26,316 days,0.13,0.158000,0.166786,-0.052677
3,0000,TLMR,TALMER BANCORP,149,119962,0.89,2015-12-31,2015-04-30,2015-02-23,1.02,2016-01-26,311 days,0.13,0.174286,0.166786,0.044968
4,0000,TLMR,TALMER BANCORP,873,79092,0.91,2015-12-31,2015-07-06,2015-04-07,1.02,2016-01-26,268 days,0.11,0.136667,0.166786,-0.180585

In [5]:
number_of_forecasts_by_analyst_pro_period = df.groupby(['fiscal_period_ending', 'analyst'])['official_ticker'].count().reset_index()\
    .sort_values(by=['fiscal_period_ending', 'official_ticker'], ascending=[True, False]).set_index(['fiscal_period_ending', 'analyst'])

In [6]:
number_of_forecasts_by_analyst_pro_period

                              official_ticker
fiscal_period_ending analyst
2015-01-31           106026                14
                     118217                11
                     127622                11
                     108441                10
                     114475                10
...                                       ...
2023-07-31           196694                 1
                     197705                 1
                     198190                 1
                     198735                 1
                     199274                 1

[79245 rows x 1 columns]

- Forecasting ability/experience: number of years for which analyst i supplied at least one forecast during the first 11 months of the year through year t